/* Home.css */

.brand {
    font-size: 24px;
    font-weight: bold;
    color: #007bff; /* Blue color for the brand */
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quality {
    font-size: 14px;
    font-style: italic;
    color: #555; /* Dark gray color for quality */
  }
  
  .size {
    font-size: 14px;
    color: #555; /* Dark gray color for size */
  }
  
  .download-btn {
    background-color: #007bff; /* Blue background for the button */
    border-color: #007bff; /* Blue border for the button */
    color: #fff; /* White text color for the button */
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Additional styling can be added here */
  
  /* Home.css or your custom CSS file */
.saanu-hub-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.scrollable-content {
  flex: 1; /* Allow the content to grow and take remaining vertical space */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
